// Local Fonts

@font-face {
  font-family: 'garaje';
  font-weight: 1000;
  font-style: normal;
  src: url('~/assets/fonts/garaje/Garaje-black.woff2') format('woff2');
}

@font-face {
  font-family: 'dolcetto';
  font-weight: 500;
  font-style: normal;
  src: url('~/assets/fonts/dolcetto/Dolcetto-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'ofform';
  font-weight: 500;
  font-style: normal;
  src: url('~/assets/fonts/ofform/OfformTRIAL-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'stratos';
  font-weight: 500;
  font-style: normal;
  src: url('~/assets/fonts/stratos/Stratos-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'grotesk';
  font-weight: 800;
  font-style: normal;
  src: url('~/assets/fonts/grotesk/Px_Grotesk-Screen.woff2') format('woff2');
}

@font-face {
  font-family: 'bridge-text';
  font-weight: 400;
  font-style: normal;
  src: url('~/assets/fonts/bridge-text/Bridge-Text-Regular.woff2') format('woff2');
}
