// Typography
/* ------------------------------------- */

// Headings
.heading-style-1 { @include heading-style-1() }

.heading-style-2 { @include heading-style-2() }

.heading-style-2xl { @include heading-style-2xl() }

// Paragraph
.paragraph-style-1 { @include paragraph-style-1(); }

.paragraph-style-2 { @include paragraph-style-2(); strong { color: $neon; } }

.paragraph-style-3 { @include paragraph-style-3(); }

.text-wrap {
  &--paragraph-style-1 p { @extend .paragraph-style-1; }

  &--paragraph-style-2 p { @extend .paragraph-style-2; }

  &--paragraph-style-3 {
    p, ul { @extend .paragraph-style-3; }

    li {
      margin-left: 12px;
      list-style-type: disc;
      list-style-position: outside;
    }
  }
}

// Colors
.text-light { color: $white; }

.text-dark { color: $navy; }

.text-primary { color: $neon; }

// Spacing Relationships
/* ------------------------------------- */
.heading-style-1 + .paragraph-style-1 { margin-top: 40px; }

.heading-style-2 + .heading-style-1 { margin-top: 20px; }

.heading-style-2 + .paragraph-style-1 { margin-top: 24px; }

.heading-style-2 + .paragraph-style-2 { margin-top: 10px; }

.heading-style-2 + .text-wrap--paragraph-style-1 { margin-top: 24px; }

.heading-style-2 + .text-wrap--paragraph-style-3 { margin-top: 10px; }

.heading-style-2xl + .paragraph-style-1 { margin-top: 32px; }

.heading-style-2xl + .text-wrap--paragraph-style-1 { margin-top: 32px; }

.paragraph-style-1 + .paragraph-style-1 { margin-top: 20px; }

.paragraph-style-2 + .paragraph-style-2 { margin-top: 20px; }

.paragraph-style-3 + .paragraph-style-3 { margin-top: 10px; }